musician_name: {{ polaroid.musician_name }}
band_name: {{ polaroid.band_name }}
img_src: {{ polaroid.img_src }}
onmouseover_src: {{ polaroid.onmouseover_src }}
pagination_pageNumber: {{ pagination.pageNumber }}