---
title: My first page
layout: base.njk
---

<main>
    <header>
        <h1>
            Polaroids Of Folk That Make Music
            <span>© James Perou</span>
        </h1>
        <form>
            {# <input type="search" placeholder="Search"> #}
            {# <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
            <script src="/pagefind/pagefind-ui.js"></script>
            <div id="search"></div>
            <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI({element: "#search", showSubResults: true});
                });
            </script> #}
        </form>
        <ul>
            <li>
                <a href="#">Email</a>
            </li>
            <li>
                <a href="#">Instagram</a>
            </li>
        </ul>
    </header>
    <section>

        <ul class="list">
            {% for polaroid in collections.polaroids | reverse %}
                <li>
                    <figure>
                        <div class="img_wrap">
                            <img alt="" width="300" height="365" loading="lazy" src="{{ polaroid.data.img_src }}"/>
                            {% if polaroid.data.onmouseover_src %}
                            <img class="img_hover" alt=""  width="300" height="365" loading="lazy" src="{{ polaroid.data.onmouseover_src }}"/>
                            {% endif %}
                        </div>
                        <figcaption>
                            <h2>
                                {{ polaroid.data.musician_name }}
                                <span>{{ polaroid.data.band_name }}</span>
                            </h2>
                        </figcaption>
                    </figure>
                </li>
            {% endfor %}
        </ul>

    </section>
</main>

<!-- your content here... -->
<script src="js/scripts.js"></script>